In [1]:
import bertopic
import utils
import pandas as pd
from collections import Counter
import topic_modeling_utils as tmu
df = utils.get_df()
df.head()

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.

In [2]:
model = bertopic.BERTopic.load("BERTopic_model.bin")
topics,probs = model.transform(df['Sentence'])

In [3]:
tmu.prep_df(topics, probs, df)

In [4]:
tmu.get_name_topic_df(df)

             Name       Topics  Topic Count
0           aemon    [0, 4, 6]            3
1      lysa arryn   [0, 6, 19]            3
2           locke    [0, 3, 4]            3
3           loras  [9, 11, 22]            3
4         shireen  [0, 13, 18]            3
..            ...          ...          ...
352        martha         [20]            1
353        martyn          [0]            1
354         aeron         [23]            1
355  masha heddle          [2]            1
356  young rodrik         [11]            1

[357 rows x 3 columns]

In [5]:

table = tmu.get_name_topic_per_season_df(df)
table

,Name,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8
0,aemon,[],[],[],"[0, 4]","[0, 4, 6]",[],[],[]
1,aeron,[],[],[],[],[],[23],[],[]
2,all,[],[],[],[0],[],"[20, 23]",[20],[]
3,all three,[],[23],[],[],[],[],[],[]
4,alliser,[],[],[],"[0, 18]","[4, 6, 18]",[],[],[]
...,...,...,...,...,...,...,...,...,...
352,yohn royce,[],[],[],[],[],[],[8],[]
353,yoren,"[0, 2, 22]",[],[],[],[],[],[],[]
354,young man,[],[],[],[],[],[15],[],[]
355,young ned,[],[],[],[],[],[16],[],[]
356,young rodrik,[],[],[],[],[],[11],[],[]

In [8]:
topics = table.loc[table["Name"]=="jon snow"].iat[0,1]
tmu.get_sentences(df, "jon snow", 1, topics, 0.0)

jon snow has 71 topical sentences in Season 1
jon snow has 65 non-topical sentences in Season 1

,Topic 0,Topic 17,Topic 25
0,Impressive.,You did well.,I don't care about that.
1,I wish I could be here when you wake up. I'm g...,Of course I have.,But I'm better than every...
2,It was always my color.,"As a matter of fact, I'm the same as you.","Farewell, My Lord."
3,Why do you read so much?,And yet you really want to say. You want to sa...,I've had worse.
4,They hate me because I'm better than they are.,l have to.,Wellâ€¦ You can't get any worse.
5,Come stand by the fire. It's warmer.,NaN,I don't care about â€“
6,You're not. You're freezing.,NaN,NaN
7,Young and gorgeous. A whore named Ros.,NaN,NaN
8,Red.,NaN,NaN
9,And why is my surname Snow?,NaN,NaN
10,I build my own fires.,NaN,NaN
11,There's no rider.,NaN,NaN
12,"I just, I always wanted to be a Ranger.",NaN,NaN
13,We should burn them.,NaN,NaN
14,Move.,NaN,NaN
15,Beyond the Wall?,NaN,NaN
16,354,36,32

In [46]:
model.get_topic(0)

[('castle', 0.03199116404949816),
 ('wall', 0.02067531252099904),
 ('black', 0.020225587889312113),
 ('crow', 0.020148302479472052),
 ('maester', 0.017884571781092186),
 ('varys', 0.01756482722098068),
 ('horse', 0.017540555758855252),
 ('walker', 0.017292100863941298),
 ('white', 0.01660352936974415),
 ('gold', 0.015876893014578192)]

In [73]:
model.get_topic(8)

[('arya', 0.20961832463736654),
 ('sansa', 0.17431548733062804),
 ('bran', 0.17302276395750898),
 ('hodor', 0.14088759609165113),
 ('brienne', 0.12170774331269492),
 ('podrick', 0.07699263481130059),
 ('rickon', 0.07455501654665883),
 ('tarth', 0.056693157876224066),
 ('stark', 0.04139611685240563),
 ('moment', 0.031033387305638156)]

In [74]:
model.get_topic(9)

[('mean', 0.18438820825806804),
 ('end', 0.18426945974288678),
 ('name', 0.17531381116540723),
 ('storm', 0.13431014937926128),
 ('mine', 0.0977041961272622),
 ('secret', 0.09652283295982952),
 ('known', 0.09633502800683567),
 ('knew', 0.0710264582369581),
 ('unname', 0.05306598160686024),
 ('timid', 0.04447748160583299)]